img {
  max-width: 100%;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: auto;
  max-width: 1200px;
}
.border {
  border-style: double;
}
.footer {
  text-align: center;
}
h1 {
  text-align: center;
}
